<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - ItemFinder</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
  <link rel="stylesheet" href="fonts/fontawesome-all.min.css">

</head>

<body id="page-top">
<div id="wrapper">
  <nav  th:include = "web/V2/templateV2 :: #left-nav-bar"  class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
<!--    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">-->
<!--      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>-->
<!--      <div class="sidebar-brand-text mx-3"><span>ItemFinder</span></div>-->
<!--    </a>-->
<!--      <hr class="sidebar-divider my-0">-->
<!--      <ul class="navbar-nav text-light" id="accordionSidebar">-->
<!--        <li class="nav-item"><a class="nav-link active" href="/test-site3"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/found-itemsV2"><i class="fas fa-user"></i><span>Found Items</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/lost-itemsV2"><i class="fas fa-table"></i><span>Lost Items</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/add-lostV2"><i class="far fa-user-circle"></i><span>Lost it</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/add-foundV2"><i class="fas fa-user-circle"></i><span>Found it</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/loginV2"><i class="fas fa-key"></i><span>Sign in</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/registerV2"><i class="fas fa-key"></i><span>Sign up</span></a></li>-->
<!--      </ul>-->
<!--      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>-->
<!--    </div>-->
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <nav id = "top-nav-bar-search"  class="navbar navbar-expand bg-white shadow mb-4 topbar">
        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>

          <div class="d-flex align-items-center mb-1">
            <!-- Advanced Search Button (Positioned on the Left Next to Search Bar) -->

            <!-- Existing Search Bar -->
            <form class="d-none d-sm-inline-block me-5 ms-md-3 my-2 my-md-0 mw-100 navbar-search" action="/search-found-items" method="GET">
              <div class="input-group">
                <input class="bg-light form-control border-0 small" type="text" name="name" placeholder="Search for items..." aria-label="Search for items...">
                <button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </form>

            <button class="btn btn-outline-secondary me-5" type="button" data-bs-toggle="modal" data-bs-target="#advancedSearchModal">
              Advanced Search
            </button>

          </div>




              <div th:if="${#authentication.getName() != 'anonymousUser'}" class="nav-item dropdown no-arrow">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                  <span class="d-none d-lg-inline me-2 text-gray-600 small" th:text="${#authentication.name}"></span>
                  <img class="border rounded-circle img-profile" src="img/avatars/avatar1.jpeg">
                </a>
                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout" methods="post">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>

                </div>
              </div>

              <div th:if="${#authentication.getName() == 'anonymousUser'}" class="nav-item dropdown no-arrow">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                  <span class="d-none d-lg-inline me-2 text-gray-600 small" th:text="${#authentication.name}"></span>
                  <img class="border rounded-circle img-profile" src="img/avatars/avatar1.jpeg">
                </a>
                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/login" methods="post">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Login</a>

                </div>
              </div>




        </div>

      </nav>


            <div class="row">

              <div class="container-fluid mt-4">
                <div class="row">
                  <div class="col-md-4 mb-5 justify-content-center" th:each="item : ${items}">

                    <div class="card shadow border-bottom-primary p-2" style="height: 550px;">
                      <div class="row g-0 justify-content-center text-center">
                        <a th:href="${'/found-itemsV2/' + item.ItemId}" class="text-decoration-none">
                          <div class="col">
                            <img th:src="${item.ImageUrlOrDummy}" alt="Item image" class="img-fluid mb-3" style="width: 70%; margin: 5%;">
                            <div class="card-body justify-content-center text-center align-self-center align-content-center">
                              <h3 class="item-name h3 text-primary-emphasis" th:text="${item.ItemName}"></h3>
                              <!-- Updated Section -->
                              <div class="text-start mx-auto d-flex flex-column align-items-start m-3 fs-6 text-secondary">
                                <span th:text="'Posted by: ' + ${userMap[item.CreatorId()]}"></span>
<!--                                ${#temporals.format(item.EventDate(), 'yyyy-MM-dd HH:mm')}-->
                                <span th:text="'Found on: ' + ${#temporals.format(item.EventDate(), 'yyyy-MM-dd HH:mm')}"></span>
                                <span  th:text="'Found in: ' + ${item.LocationText()}"></span>

                              </div>

                            </div>
                          </div>
                        </a>
                      </div>
                    </div>


                  </div>

                  </div>
                </div>
                </div>
                </div>
  <!-- Modal for Advanced Search Form (Centered) -->
  <div class="modal fade" id="advancedSearchModal" tabindex="-1" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="advancedSearchModalLabel">Advanced Search</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="get" action="/found-itemsSortedV2" class="d-flex align-items-center">
            <!-- Sort By Dropdown -->
            <div class="me-3">
              <label for="sortBy" class="form-label mb-0">Sort By:</label>
              <select class="form-select form-select-sm" id="sortBy" name="sortBy">
                <option value="CreationDate" th:selected="${param.sortBy == 'CreationDate'}">Creation Date</option>
                <option value="EventDate" th:selected="${param.sortBy == 'EventDate'}">Event Date</option>
              </select>
            </div>

            <!-- Order Dropdown -->
            <div class="me-3">
              <label for="order" class="form-label mb-0">Order:</label>
              <select class="form-select form-select-sm" id="order" name="order">
                <option value="asc" th:selected="${param.order == 'asc'}">Ascending</option>
                <option value="desc" th:selected="${param.order == 'desc'}">Descending</option>
              </select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-outline-secondary btn-sm">Sort</button>
          </form>
        </div>
      </div>
    </div>


    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © ItemFinder 2024</span></div>
        </div>
      </footer>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/bs-init.js"></script>
<script src="js/theme.js"></script>
    </div>
  </div>
</div>
</body>


</html>