main#main-main {
}

section#main-section {
    flex: 1;
    max-width: 600px;
    width: 100%;
    border-left: 1px solid coral;
    border-right: 1px solid coral;
}

img.default {
    object-fit: contain;
    width: 100%;
    max-height: 500px;
}