<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dynamic</title>
    <link th:href="@{/styles/web/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>This is dynamic.html</h1>
    <ul>
        <li th:each="user:${users}">
            <span th:text="${user.UserId}"></span>
            <span> </span>
            <span th:text="${user.Username}"></span>
        </li>
    </ul>
    <form th:action="@{/create-user}" method="post" th:object="${addUser}">
        <label for="username">Username</label><br />
        <input id="username" type="text" th:field="*{Username}" /><br />
        <label for="password">Password</label><br />
        <input id="password" type="text" th:field="*{Password}" /><br />
        <input type="submit" value="Submit" /><br />
    </form>
</body>
</html>