<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link th:href="@{/styles/web/style.css}" rel="stylesheet" />
</head>
<body>
    <header id="main-header" th:include="web/template :: header"></header>
    <main id="main-main">
        <h1>This is index.html</h1>
        <a href="/lost-items">Lost items</a>
        <a href="/found-items">Found items</a>
        <a href="/map">Map</a>
        <a href="/dynamic">Create user</a>
        <a href="/add-found">I found something</a>
        <a href="/add-lost">I lost something</a>
    </main>
    <footer id="main-footer" th:include="web/template :: footer"></footer>
</body>
</html>