<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link th:href="@{/styles/web/style3.css}" rel="stylesheet" />
</head>
<body>

<!-- Navigation Bar -->
<header>
    <nav class="navbar">
        <!-- Logo on the left -->
        <div class="navbar-logo">
            <img th:src="@{/img/logo.webp}" alt="logo">
            <h1 id = "logo-name">Item Finder</h1>
        </div>


        <!-- Middle Navigation Links -->
        <div class="navbar-links">
            <a href="/lost-items" class="nav-link" >Lost items</a>
            <a href="/found-items" class="nav-link" >Found items</a>
            <a href="/add-found" class="nav-link">Found it</a>
            <a href="/add-lost" class="nav-link" >Lost it</a>
        </div>

        <!-- Button on the right -->
        <div class="navbar-button">
            <a href="/action" class="action-button">Sign in</a>
        </div>
    </nav>
</header>

<!-- Main Content -->
<main>
    <h1>Welcome to the Home Page!</h1>
    <p>This is where your main content goes.</p>
</main>

</body>
</html>
